@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

.btn-shadow-red {
  box-shadow: 4px 4px 0 #5b3e38;
}

.btn-shadow-yellow {
  box-shadow: 4px 4px 0 #a2916d;
}

.text-shadow-retro-red {
  text-shadow: 0.1em 0.1em 0 #006b7c;
}

.text-shadow-retro-yellow {
  text-shadow: 0.1em 0.1em 0 #006b7c;
}

.text-shadow-retro-yellowww {
  text-shadow: 0.1em 0.1em 0 #004656;
}

.l-shape {
  clip-path: polygon(
      100% 0%,     /* top right */
      80% 50%,     /* middle left */
      100% 100%,   /* bottom right */
      90% 100%,    /* optional corner smoothing */
      50% 50%,     /* sharp inside point */
      90% 0%     /* Bottom-left */
  );
}
