@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

.btn-shadow-red {
  box-shadow: 4px 4px 0 #5b3e38;
}

.btn-shadow-yellow {
  box-shadow: 4px 4px 0 #a2916d;
}

.animate-tilt {
  animation: tilt 5s ease-in-out infinite;
}


.text-shadow-retro-red {
  text-shadow: 8px 8px 0 #006b7c;
}

.text-shadow-retro-yellow {
  text-shadow: 8px 8px 0 #006b7c;
}

.text-shadow-retro-yellowww {
  text-shadow: 8px 8px 0 #004656;
}
